#!/usr/bin/make -f

%:
	dh --with quilt $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-gpgme \
		--enable-ssl \
		--enable-jconv \
		--enable-ipv6 \
		--with-manualdir=/usr/share/doc/sylpheed-doc/manual \
		--with-faqdir=/usr/share/doc/sylpheed-doc/FAQ

override_dh_strip:
	dh_strip --dbg-package=sylpheed-dbg

